{% content "cms.contents.default.coaching.1" %}
<section class="section-1">
	<div class="section-1-container container">
		<div class="section-1-row row">
			<div class="section-1-text col-lg-5 col-md-5">
				<div class="section-1-title">
					<p>{{content.local.title}}</p>
				</div>
				<div class="section-1-description">
					<p>{{content.local.excerpt}}</p>
				</div>
				<div class="section-1-button">
					<a target="_blank" href="https://calendly.com/coach_ronyklayany/60min?back=1&amp;month=2023-06">Book A Session</a>
				</div>
			</div>
			<div class="section-1-image col-lg-6 col-md-6">
				<div class="image">
					<img src="{{content.attrs.image.url}}" alt="">
				</div>
				<div class="name">
					<p>I’M<br>
						Rony Klayany</p>
				</div>
			</div>

		</div>
	</div>
</section>
{% endcontent %}

{% content "cms.contents.default.coaching.2" %}
<section class="section-2">
	<div class="section-2-container container">
		<div class="section-2-row row">
			<div class="section-2-text col-lg-5 col-md-5">
				<div class="section-2-title">
					<p>{{content.local.title}}</p>
				</div>
				<div class="section-2-description">
					<p>{{content.local.excerpt}}</p>
				</div>
			</div>
			<div class="section-2-image col-lg-6 col-md-6">
				<img src="{{content.attrs.image.url}}" alt="">
			</div>
		</div>
	</div>
</section>
{% endcontent %}


{% content "cms.contents.default.coaching.3" %}
<section class="section-performance">
	<div class="section-3-title container">
		<p class="subtitle1">{{content.local.title}}</p>
		<p class="subtitle2">{{content.local.subtitle1}}</p>
		<p class="subtitle2">{{content.local.subtitle2}}</p>

	</div>
	<div class="section-3-image">
		<img src="{{content.attrs.image.url}}" alt="">
		<div class="section-3-container container">
			<div class="section-3-row row">

				<div class="section-3-content">
					<div class="section-3-text">
						<p>{{content.local.excerpt}}</p>
					</div>
				</div>
				<div class="section-3-button">
					<a target="_blank" href="https://calendly.com/coach_ronyklayany/60min?back=1&amp;month=2023-06">Book A Session</a>
				</div>
			</div>
		</div>
	</div>
</section>
{% endcontent %}
{% content "cms.contents.default.skills" %}
<section class="section-4">
	<div class="section-4-container container">
		<div class="section-4-row row">
			<div class="generic col-lg-12 col-md-12">
				<div class="col-md-3">
					<div class="generic-title">
						<p>{{content.attrs.skill}}</p>
					</div>
					<div class="generic-text">
						<p>{{content.attrs.description1}}</p>
					</div>
				</div>
				<div class="section-4-image col-lg-6 col-md-6">
					<img src="{{content.attrs.image.url}}" alt="">
				</div>
				<div class="middle-row col-md-3">
					<div class="industry">
						<div class="industry-title">
							<p>{{content.attrs.industry}}</p>
						</div>
						<div class="industry-text">
							<p>{{content.attrs.description2}}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="regional">
				<div class="regional-title">
					<p>{{content.attrs.regional}}</p>
				</div>
				<div class="regional-text">
					<p>{{content.attrs.description3}}</p>
				</div>
			</div>
		</div>
	</div>
</section>
{% endcontent %}
